html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 150%;
  margin: 0;
  padding: 40px;
  padding-right: 0;
  background-color: #2196f3;
  font-family: "Roboto";
  font-size: 13px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.row {
  height: 56px;
  padding: 0 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.row.row--ic-button {
  padding-right: 12px;
}
.row.clickable {
  cursor: pointer;
}
.row.clickable:hover {
  background-color: #f2f2f2;
}
.row.clickable:active {
  background-color: #eee;
}

.mrgn-s {
  margin-right: 16px;
}

.mrgn {
  margin-right: 32px;
}

.mrgn-l {
  margin-right: 48px;
}

.grow {
  flex-grow: 1;
}

.material-icons {
  color: rgba(0, 0, 0, 0.54);
}
.material-icons.md-light {
  color: white;
}

input[type=range].is-upgraded {
  margin: 0;
  width: 100%;
}

.mdl-slider__background-flex {
  margin: 0;
  width: 100%;
}

.tray-menu {
  width: 300px;
  margin: 40px 0;
  color: rgba(0, 0, 0, 0.87);
}
.tray-menu .row {
  border-bottom: 1px solid #eee;
}
.tray-menu .row.lg {
  height: 72px;
}
.tray-menu .avatar {
  background-color: #2196f3;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
}
.tray-menu .avatar:before {
  content: "A";
  font-size: 20px;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
}
.tray-menu .small {
  font-size: 12px;
}
.tray-menu .secondary {
  color: rgba(0, 0, 0, 0.54);
}
.tray-menu .final {
  background-color: #eee;
  border-bottom: none;
}
.tray-menu .final .mdl-button--icon:not(:last-child) {
  margin-right: 8px;
}
.tray-menu .details div:last-child {
  text-overflow: ellipsis;
}

.volume-slider {
  background-color: #263238;
  width: 300px;
  min-height: 56px;
  height: 56px;
  flex-direction: column;
  overflow: hidden;
  transition: height 0.2s ease;
}
.volume-slider.active {
  height: 112px;
}
.volume-slider .row {
  flex-shrink: 0;
}

#row-settings .mrgn {
  transition: transform 0.2s ease-out;
}

#row-settings:hover .mrgn {
  transform: rotate(90deg);
}

::-webkit-scrollbar {
  width: 4px;
  transition: width 0.5s ease;
}

::-webkit-scrollbar:hover {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #2196F3;
}

::-webkit-scrollbar-thumb {
  background-color: #1976D2;
}

.toolbar {
  height: 64px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  background-color: #eee;
  border-bottom: 1px solid #eee;
}
.toolbar .title {
  font-weight: 500;
  font-size: 20px;
}
.toolbar .mdl-switch {
  width: 40px;
}

.pane {
  width: 300px;
  height: 400px;
}
.pane .row {
  cursor: pointer;
  border-bottom: 1px solid #eee;
}
.pane .row.noborder {
  border-bottom: none;
}
.pane .row:not(.nohover):hover {
  background-color: #f2f2f2;
}

.mdl-card {
  margin-right: 40px;
}
