.container
  button
    .notification A new user joined!
  .members
    ul
      li
        |Share your video?
        input type="checkbox"
      li
        |Share your audio?
        input type="checkbox"
      li Neeraj
      li
        span rileyjshaw
      li Rick Sanchez